<div class="midi-qol-rotv-single-hit-card">
  {{#unless oneCard}}
  <div>{{attackType}}</div>
  {{/unless}}
  <div class="rotv2 evaluation">
    {{#if collapsibleTargets}}
    <div class="card-tray targets-tray collapsible">
      <label class="roboto-upper">
        <i class="fas fa-bullseye" inert></i>
        <span>{{localize "ROTV.TargetPl"}}</span>
        <i class="fas fa-caret-down" inert></i>
      </label>
      <div class="collapsible-content">
        {{/if}}
        <ul class="rotv2 unlist evaluation wrapper">
          {{#each hits as |hit iid|}}
          <li data-uuid="{{actorUuid}}" data-id="{{hit.target.id}}" class="target {{hit.hitClass}} midi-qol-rotv midi-qol-rotv-hit-class midi-qol-rotv-target-select">
            <i class="midi-qol-rotv-hit-symbol fas {{hit.hitSymbol}}"></i>
            <img src="{{hit.img}}"
              style="background-color: var(--rotv-background-10); width: 22px !important; height: 22px !important;" />
            <div class="name-stacked">
              <span class="midi-qol-rotv-target-name title midi-qol-rotv-gmTokenName" id="{{hit.target.id}}">
                {{{hit.gmName}}}
              </span>
              <span class="midi-qol-rotv-target-name title midi-qol-rotv-playerTokenName" id="{{hit.target.id}}">
                {{hit.playerName}}
              </span>
            </div>
            {{#if showAC}}
            <div class="midi-qol-rotv-ac {{hit.acClass}}">
              <span>
                <i class="fas fa-shield-halved"></i>
                {{#if hit.bonusAC}}
                <span style="font-weight: bold;">{{hit.ac}}+{{hit.bonusAC}}</span>
                {{else}}
                <span style="font-weight: bold;">{{hit.ac}}</span>
                {{/if}}
              </span>
            </div>
            {{else}}
            {{#if hit.bonusAC}}
            <div class="midi-qol-rotv-ac {{hit.acClass}}">
              <span>
                <i class="fas fa-shield-halved"></i>
                <span style="font-weight: bold;">+{{hit.bonusAC}}</span>
              </span>
            </div>
            {{/if}}
            {{/if}}
          </li>


          <div>(Range mod: {{hit.distanceModifier}}, final result: {{hit.hitResultNumeric}})</div>
          {{/each}}

        </ul>
        {{#if collapsibleTargets}}


      </div>
    </div>
    {{/if}}
  </div>
</div>